body {
    background-color:#efefef ;
    text-align:center; 
    padding-top: 10px;
    
}
#title{
    color: #63c012;
    font-size: 60px;
}
.box_of_logIn{
    background-color: white;
    text-align: center;
    display: inline-block; /*dev bya5od masa7a 7asab al3nasr lb2lbo*/
    font-size: 25px;
    border: 1px solid white; /* 3ard no3 lon alzawye */
    border-radius: 10px; /*bt5aly alzawye nos da2ra*/
    box-shadow: 0px 0px 15px rgba(114, 106, 106, 0.801);
    padding: 20px;
    margin-top: 30px /* bya3ty masa7a mn fo2 al dev*/
}
#text_box{
    width: 350px;
    height: 40px;
    margin-bottom: 15px; /*ya5do masfh bayn al text_box w lta7to*/
    font-size: 19px;
    border: 1px solid #ccc; /* 3ard no3 lon alzawye */
    border-radius: 10px; /*bt5aly alzawye nos da2yra*/
    padding: 10px;
}

#button{
    width: 370px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 15px;
    background-color: #e7d620;
    border: 2px solid #cbbc15d8; /* 3ard no3 lon alzawye */
    border-radius: 10px; /*bt5aly alzawye nos da2yra*/
    cursor: pointer; /*t8yar chacl almaws */
}
#button:hover{
    background-color:#cbbc15d8 ;
    margin-top: 2px;
}
a{
    font-size: 20px;
    color: #0892d0  ;
}
.x{
    margin-top: 20px;
}










