header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: large;
  }
  header #title {
    color: #63c012;
    font-size: 30px;
    margin-left: 20px;
  }
  header div {
    display: inline-block; /*bt5ly 2ldiv 7ad ba3d*/
    margin: 0 50px;
  }
  
  header a {
    color: #fff;
    text-decoration: none; /*btchil 2l5at min t7ta*/
  }
  
  header a:hover {
    color: #ffd700;
  }