<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css_Minesweeper.css')}}">
  <title>Document</title>
</head>
<body>
  <form action="" method="post">
    {%if n == 0%}
    <div class="header">
      <label class="la">{{nb_bomb}}</label>
      <button class="ch" type="submit" name="face_emoji" value="change">🙂</button>
      <button class="ch" type="submit" name="bomb_emoji" value="change">{{bomb_emoji}}</button>
    </div>
    <div class="a">
      {% for x in range(9) %}
          {% for y in range(14) %}
            {% if array_game[x][y] == "inv" %}
              <button class="b" type="submit" name="l" value="{{ '%s%s4' | format(x,y) }}">{{flag[x][y]}}</button>
            {% elif array_game[x][y] == "v" %}
              <button class="c" >
                  {%if array[x][y] == "bomb"%}
                    {%print("💣")%}
                  {%elif array[x][y] == "0"%}
                    {% print("")%}
                  {%else%}
                  <font color="{{colors[x][y]}}">
                    {{array[x][y]}}
                  </font>
                  {%endif%}
              </button>
            {%endif%}
          {%endfor%}
      {% endfor %}
    </div>
  </form>
    {%elif n == 1%}
    <div class="header">
      <label class="la">{{nb_bomb}}</label>
      <button class="ch" >🙁</button>
      <button class="ch" >{{bomb_emoji}}</button>
      <label class="go">game over :</label>
      <button class="GH"><a href="http://127.0.0.1:8000/">Go back home</a></button>
      
    </div>
    <div class="a">
      {% for x in range(9) %}
          {% for y in range(14) %}
          {%if array_game[x][y] == "inv"%}
            {%if flag[x][y] == "🚩" %}
              {%if array[x][y] == "bomb"%}
                <button class="b">🚩</button>
              {%elif array[x][y] != "bomb"%}
                <button class="d">🚩</button>
              {%endif%}
            {%elif flag[x][y] == "" %}
              {%if array[x][y] == "bomb"%}
                <button class="c">💣</button>
              {%elif array[x][y] == ""%}
                <button class="c">{% print("")%}</button>
              {%else%}
                <button class="c">
                  <font color="{{colors[x][y]}}">
                    {%if array[x][y] == "0"%}
                      {% print("")%}
                    {%else%}
                      {{array[x][y]}}
                    {%endif%}
                  </font>
                </button>
              {%endif%}
            {%endif%}
          {%elif array_game[x][y] == "v"%}
            {%if array[x][y] == "bomb"%}
              <button class="d">💣</button>
            {%elif array[x][y] == ""%}
              <button class="c">{% print("")%}</button>
            {%else%}
              <button class="c"><font color="{{colors[x][y]}}">
                {%if array[x][y] == "0"%}
                  {% print("")%}
                {%else%}
                  {{array[x][y]}}
                {%endif%}
              </font></button>
            {%endif%}
          {%endif%}
          {%endfor%}
      {% endfor %}
    </div>
    {%elif n == 2%}
    <div class="header">
      <label class="la">{{nb_bomb}}</label>
      <button class="ch" type="submit" name="face_emoji" value="change">🙂</button>
      <button class="ch" type="submit" name="bomb_emoji" value="change">{{bomb_emoji}}</button>
      <label class="gv">victory :</label>
      <button class="GH"><a href="http://127.0.0.1:8000/">Go back home</a></button>
    </div>
    <div class="a">
      {% for x in range(9) %}
          {% for y in range(14) %}
            {% if array_game[x][y] == "inv" %}
              <button class="b" type="submit" name="l" value="{{ '%s%s4' | format(x,y) }}">{{flag[x][y]}}</button>
            {% elif array_game[x][y] == "v" %}
              <button class="c" >
                  {%if array[x][y] == "bomb"%}
                    {%print("💣")%}
                  {%elif array[x][y] == "0"%}
                    {% print("")%}
                  {%else%}
                  <font color="{{colors[x][y]}}">
                    {{array[x][y]}}
                  </font>
                  {%endif%}
              </button>
            {%endif%}
          {%endfor%}
      {% endfor %}
    </div>
  {%endif%}
</body>
</html>


